* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:  #081b29 no-repeat; /*url(https://wallpapercave.com/wp/V9BqwTs.png) */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.my-photo {
    position: absolute;
    /* Allows precise positioning */
    right: 200px;
    /* Aligns the div 200px from the right edge */
    top: 400px;
    /* Aligns the div 400px from the top edge */
    transform: translateY(-50%);
    /* Centers the div vertically relative to the top value */
}

.my-photo img{
    width: 100%;
    /* Scale the image proportionally */
    max-width: 350px;
    /* Limits the image's maximum size */
    height: auto;
    /* Maintains the aspect ratio */
    display: block;
    /* Prevents extra space below the image */
    border-radius: 8px;
}


.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease forwards;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 30px 0;
}

.home-sci a:hover {

    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan
}


.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
   
}

/*
.about-img img{
    padding-bottom: 20%;
    max-width: 350px;
    height: auto;
    width:100%;
    border-radius: 8px;
} */

.about-img {
    position: relative; 
    max-width: 100%;  
} 

.about-img img {
    position: absolute; 
    top: -190px; 
    left: 220px; 
    width: 100%; 
    max-width: 350px; 
    height: auto; 
    border-radius: 8px;
    display: block; 
    margin-bottom: 4rem; /* Adds space below the image */
} 

.about-text h2{
    font-size:60px;
    position: relative;  /* Or absolute if you want to move it freely inside the section */
    top: 80px;  /* Moves the text down */
}

.about-text h2 span{
    color: #0ef;
  
}
.about-text h4{
    font-size: 29px;
    font-weight: 600 ;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;

    position: relative;  /* Or absolute if you want to move it freely inside the section */
    top: 100px;  /* Moves the text down */
}
/*
.about-text p{
    font-size: 20px;
    color: aliceblue;
    line-height: 1.4;
    margin-bottom: 4rem;
}*/

.about-text p {
    position: relative;  /* Or absolute if you want to move it freely inside the section */
    top: 130px;  /* Moves the text down */
   
    font-size: 20px;
    color: aliceblue;
    line-height: 1.4;
    margin-bottom: 4rem;
}


.about-text .btn-box {
    position: relative;
    top: 100px; /* Moves it 20px from the bottom */
    right:10; /* Aligns it to the right side */
    margin-bottom: 50px;
}

.sub-title {
    font-size: 60px;
    position: absolute;
    top: 1440px;
    left: 650px;
    display: flex; /* Ensures alignment works if there are flex properties */
    align-items: center;
    justify-content: center;
    text-align: center; /* Centers the text horizontally */
    margin: 0 auto; /* Centers the block element if needed */
}
.sub-title span{
    color: #0ef;
  
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding:75px 90px;
    margin-left: 120px;
    margin-top: 250px;
}
.heading1{
    text-align:center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: .5px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;


}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight:500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100%{
       transform: scaleX(1); 
    }
    
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

section{
    display:flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    position:relative;
    top:-70px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 30px;
}
.bar{
    font-size: 23px;
    margin-top: 35px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight:500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1); 
     }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 90%;
}

.progress-line.sql span{
    width: 60%;
}
.progress-line.flutter span{
    width: 70%;
}
.progress-line.languages span{
    width: 90%;
}
.progress-line.Algo span{
    width: 80%;
}

.progress-line span::after{
    content: attr(data-percentage);
    position: absolute;
    padding: 2px 6px;
    background-color: #000;
    color: #fff;
    font-size:12px;
    font-weight: bold;
    border-radius: 3px;
    top:-28px;
    left: 100%;
    transform: translateX(-50%);
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    white-space: nowrap;
}


/*
.progress-line span::before{
    content: "80%";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top:-10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
    */


@keyframes showText {
   
    100% {
        opacity: 1;
    }
}
.radial-bars{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: relative;
}

.radial-bars .radial-bar{
    width:50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars.radial-bar svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.progress-bar{
    stroke-width: 10;
    stroke:#000;
    fill:transparent;
}
.radial-bars .radial-bar{
    stroke-width: 30;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
   animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke:#0ef;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}





@keyframes animate-path1  {
    100% {
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2  {
    100% {
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3  {
    100% {
        stroke-dashoffset: 115;
    }
}
@keyframes animate-path4  {
    100% {
        stroke-dashoffset: 150;
    }
}


.radial-bar .percentage{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-35%, -5%);
    font-size:17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    height: 160px;
}

.radial-bar .text{
    width:100%;
    position: absolute;
    text-align:center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size:17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    
}

.main-text{
    /*
    padding-top: 100px;
    margin-top: 200px;
    */
    padding-top: 50px;
    margin-top: 200px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* This will perfectly center the element */ 

}

.main-text h2{
    font-size: 60px;
    line-height: 1; 
    padding-bottom: 75px;
    
    /*
    align-items: center;
    padding-bottom: 100px;
    */
    
}

.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,auto));
}
.row{
    /*
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    */

    position:relative;
    left:-290px;
    flex-direction: column;
   /* align-items: center;  Center individual video rows */
    max-width: 600px; /* Limit the width of each row */
    text-align: center; /* Center-align text within the row */
}

.row iframe{
    /*
    border-radius: 8px;
    display: block;
    padding-bottom: 50px;
    */

    width: 100%; /* Make the iframe responsive */
    max-width: 560px; /* Set the maximum width */
    height: 315px; /* Adjust height for aspect ratio */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */


}

.layer {
    position: relative;
    left:660px;
    top:-250px;
    /* Add spacing between the video and the description */
    
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Add a semi-transparent background */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.layer h5{
    /*
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    */
    color: rgb(123, 169, 224);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.layer p{
    /*
    color: #fff;
    font-size: 1rem;
    line-height:1.8;
    */

    
    font-size: 16px;
    line-height: 1.6;
    
}


.contact{
    position: absolute;
    top: 4200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height:1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size:20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size:20px;
    line-height:30px;
    margin-bottom: 2rem;
    
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    display: inline-block;
    color: #0ef;
    font-size:20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
    
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef ;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    border:none;
    outline:none;
    width:90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: .05rem;
}
.contact-form textarea{
    resize: none;
    height:220px;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

}
.contact-form form .send:hover{
    
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;

}












@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}